@charset "UTF-8";

/*
    Paleta de Cores
    Cinza: #747275
    Vermelho: #991515
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    background-color: #C70039;
    height: 100vh;
    width: 100vw;
}

/* CENTRALIZA O LOGIN */
main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 530px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%);
    transition: width 0.5s ease-in-out;
}

section#login > div#imagem {
    display: block;
    background: #C70039 url(../imagens/pexels-pixabay-158826.jpg) no-repeat center;
    background-size: cover;
    height: 200px;
}

/* FORMULÁRIO */
section#login > div#formulario {
    display: block;
    padding: 20px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

/* CAMPO */
form > div.campo {
    background-color: #991515;
    border: 2px solid #991515;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0;
    display: flex;
    align-items: center;
}

div.campo > label {
    display: none;
}

div.campo > i {
    color: white;
    font-size: 1.7em;
    width: 40px;
    text-align: center;
}

/* INPUT */
div.campo > input {
    background-color: #e6e6e6;  /* Fundo mais claro = texto preto visível */
    font-size: 1em;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
    padding-left: 8px;
}

/* PLACEHOLDER (DIGITE...) */
input::placeholder {
    color: black;   /* ← COR PRETA */
    opacity: 1;
}

/* INPUT FOCADO */
div.campo > input:focus {
    background-color: white;
    outline: none;
}

/* BOTÃO */
form > input[type="submit"] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #047283;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

form > input[type="submit"]:hover {
    background-color: #007B8F;
}

/* BOTÃO "ESQUECI MINHA SENHA" */
form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    margin-top: 7px;
    background-color: white;
    color: black;
    border: #747275 1px solid;
    border-radius: 5px;
}

form > a.botao:hover {
    background-color: #007B8F;
    color: white;
    border: none;
}

form > a.botao > i {
    font-size: 0.8em;
}
