@charset "UTF-8";

/*
    Paleta de Cores
    Cinza: #747275
    Vermelho: #991515
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #9915157e;
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 530px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.199);

    transition: width 0.5s ease;
    transition-timing-function: ease-in-out;
}

section#login > div#imagem {
    display: block;
    background: #991515 url(../imagens/pexels-pixabay-158826.jpg) no-repeat center;
    background-size: cover;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 20px;
}

div#formulario > h1 {
        text-align: center;
        margin-bottom: 10px;
    }

    div#formulario > p {
        font-size: 0.8em;
    }

    form > div.campo {
        background-color: #991515;
        display: block;
        width: 100%;
        height: 40px;
        border-radius: 5px;
        margin: 5px 0px;
    }

    div.campo > label {
        display: none;
    }

    form > input[type="submit"] {
        display: block;
        font-size: 1em;
        width: 100%;
        height: 40px;
        background-color: #3d3b3d;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    form > input[type="submit"]:hover {
        background-color: #991515;
    }

    form > a.botao {
        display: block;
        text-align: center;
        font-size: 1em;
        width: 100%;
        height: 40px;
        padding-top: 5px;
        margin-top: 7px;
        background-color: white;
        color: black;
        border: #747275 1px solid;
        border-radius: 5px;
        text-align: none;
    }

    form > a.botao:hover {
        background-color: #991515;
        color: white;
        border: none;
    }

    form > a.botao > i {
        font-size: 0.8em;

    }